.sidebar{
    background-color: #1976d2;
    height: 93vh;
}
.menu-link{
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
}
.menu-link:hover{
    background-color: whitesmoke;
    color: #1976d2;
    border-radius: 5px;
}